[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "bash-it"]
	path = bash-it
	url = git@github.com:Bash-it/bash-it.git
[submodule "rakudobrew"]
	path = rakudobrew
	url = https://github.com/tadzik/rakudobrew
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
