[Unit]
Description=SSH Socks Proxy
After=network-online.target
Wants=network-online.target

[Service]
User=gmoshkin
ExecStart=/usr/bin/ssh -N \
    -o "ServerAliveInterval=30" \
    -o "ServerAliveCountMax=3" \
    -o "ExitOnForwardFailure=yes" \
    -D 1080 \
    ssh-socks-proxy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
